html{
	background: #eee;// image-url('bg.jpg') bottom right no-repeat;
	//padding-top: 50px;
	// overflow: hidden;
}

body{
	// background: #eee image-url('bg.jpg') bottom right no-repeat;
	// padding-top: 50px;
	// overflow: hidden;
}

input{
	border:1px solid #444;
	padding:5px;
	margin-bottom:10px;
	font-size:13px;
}

.kanan{
	float:right;
}

button{
	@include tombol(#444, #fff, 13px);
}

p{
	font-size:15px;
	line-height:20px;
}

.bungkus{
	position: relative;
	margin-top:50px;
}

.alert{
	color:darken(red,5%);
	margin-bottom:25px;
}
#kotak{
	background: #fff;
	@include box-shadow(0 0 10px #444);
	// margin:100px auto;
	// position: relative;
}

label{
	display:block;
	font-size:14px;
	margin:15px 0 10px 0 ;
}

header{
	background: #ffa800;
	text-align:center;
	img{
		width:65%;
	}
	h1{
		color:#fff;
		
		font-size:40px;
		span{
			display:block;
			font-size:15px;
		}
	}
}

aside{
	background: #ffa800;
	padding:25px 0;

	

	ul{
		margin:0;
		padding:0;
	}

	li{
		list-style: none;
		font-weight:bold;
		border-bottom:1px dashed #fff;
		
		a{
			display:block;
			padding: 10px 20px;
			color:#fff;
			text-decoration:none;
			text-transform: uppercase;
			&:hover{
				background: darken($mainColor, 3%);
			}
			&.active{
				background: darken($mainColor, 5%);
				color:#fff !important;
			}
		}
		ul{
			// background:darken($mainColor, 2%);
			li{
				border-bottom:0;
				border-top:dashed 1px #fff;
			}
			a{
				padding: 10px 30px

			}
		}
	}

	form{
		margin-top:50px;
		text-align:center;
	}
}



// .dropdown{
// 	&>ul{
// 		display:none;
// 	}
// }

// section{

// 	min-height: 400px;
// 	// overflow-y:auto;

// }

article{
	a{
		color:darken($mainColor, 10%);
		text-decoration:none;
	}

	p{
		text-align:justify;
		font-size:14px;
		line-height:20px;
	}
}

form{
	margin-bottom:25px;
}

table{
	width:100%;
	border:solid 1px #444;
	a{
		color:#444;
		text-decoration:none;
	}
	td{
		padding:10px 5px;
		vertical-align:top;
		
	}
	tr{
		font-size:13px;
		&:first-child{
			background: $mainColor !important;
			td{
				font-weight:bold;
			}
		}
		&:nth-child(odd){
			background: darken(#fff, 10%)
		}
	}
	thead{

		
	}
}

.meta{
	background:#eee;
	font-size:12px;
	padding:5px;

	span{
		font-weight:bold;
	}
}

footer{
	text-align:center;
}

/*******************************************************************************/
/*     login
/*******************************************************************************/
#login{
	width:30%;
	background:#fff;
	margin:150px auto 50px auto ;
	padding:50px 10px 20px 10px;
	background:$mainColor;
	position: relative;
	text-align:center;
	// margin-buttom:50px;
	@include box-shadow(0 0 10px #444);

	img{
		position: absolute;
		width: 150px;
		top: -35%;
		left: 27%;
	}
	input{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	button{
		text-align:center;
	}
}

/*******************************************************************************/
/*     admin_theme
/*******************************************************************************/

#admin{
	.bungkus{
		margin-top:0;
	}

	.topmenu{
		background:#444;
		padding:10px 0;
		color:#fff;
		overflow: hidden;
		
		a{
			color:#fff;
			text-decoration: none;
			font-weight:bold;
		}
		p{
			font-size:13px;
			margin:0;
			&.kiri{
				float:left;
			}
			&.kanan{
				float:right;
			}
		}
	}

	section{
		background:#fff;
		padding:15px 0;

		h2{
			margin-top:0px;
		}

		.alert{
			margin:0 0 15px 0;
			text-align:center;
			color:#444;
		}

	}

	aside{

		padding:15px 0;
		background:#E6E6E6;
		border:solid 1px darken(#E6E6E6, 15%);
		a{
			color:#444;
			font-size:13px;		
		}
		li{
			border-bottom:1px solid darken(#e6e6e6, 10%);
			border-top:1px solid lighten(#e6e6e6, 10%);	
			&:first-child{
				border-top:0;
			}
			&:last-child{
				border-bottom:0;
			}
		}
		
	}

	footer{
		@extend .topmenu;
	}
}