$mainColor: #ffa800;
$secColor: #444;
$thirdColor: #fff;
$kontenColor: #f5f5f5;
$bg:darken(#fff,2%);

$mainFontCol: #444;
$mainFontSize: 14px;
$mainLineHeight: 20px;

$mainSectionMargin: 25px 0;
$mainPageMargin: 60px 0 25px 0;
$mainBorder:1px solid darken($bg,20%);